.destinations {
  margin-top: 80px;
}

.destinations-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 24px;
}

.destinations .item {
  width: 100%;
  max-width: 648px;
}

.destinations .item header {
  display: block;
  background-color: transparent;
  padding: 0;
  position: static;
  margin-bottom: 24px;
}

.destinations .img-item {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-item.tokyo {
  background-image: url("../img/tokyo-mobile.jpg");
}
.img-item.osaka {
  background-image: url("../img/osaka-mobile.jpg");
}

.destinations .item h3 {
  margin-top: 24px;
}

.destinations .item p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
  max-width: 312px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .destinations-items {
    gap: 40px;
    padding: 0 60px;
  }
  .img-item.tokyo {
    background-image: url("../img/tokyo-tablet.jpg");
  }
  .img-item.osaka {
    background-image: url("../img/osaka-tablet.jpg");
  }
  .destinations .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations .item {
    width: calc(50% - 20px);
    max-width: none;
  }
}
