header {
  position: relative;
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}
.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}
nav {
  display: none;
}
.navigation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: block;
  background-color: var(--background-tertiary-color);
}
.navigation-menu ul {
  list-style: none;
}
.navigation-menu li {
  margin: 16px 0 16px 30px;
}
.navigation-menu a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
